* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* -------
* Colors *
----------*/
:root {
  --background: #f5fefd;
  --text: #16161d;
  --Hero-section: #0a66c2;
  --nav-section: #78b9d8;
  --btn-border: #78b9d8;
}
body {
  background-color: var(--background);
  color: var(--text);
}
nav,
#contact-me,
footer {
  background-color: var(--nav-section);
}
nav,
#hero {
  color: var(--background);
}
#hero {
  background-color: var(--Hero-section);
}
#contact-me,
a {
  color: var(--text);
}
.project-btn {
  background-color: var(--background);
}

/* ------
* Text *
--------*/
h1 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
h2 {
  margin-bottom: 1rem;
}
#about-me-text {
  text-align: start;
}
a {
  text-decoration: none;
}
.font-poppie,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
}
.font-poppie {
  font-style: italic;
}
.project-details {
  align-items: start;
}

/* *Project Name * */

.font-Oxygen {
  font-family: "Oxygen", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}
h3 {
  margin-bottom: 5rem;
}
.tools-icons {
  position: absolute;
  opacity: 0;
}
button {
  letter-spacing: 1px;
}
h4,
h5 {
  margin: 30px 20px;
}
.quote-text {
  position: relative;
  z-index: 2;
}

/* ------
* general *
--------*/

#body-container {
  align-items: center;
  width: 100%;
  height: 100%;
}
.project-btn-container,
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.align-center {
  justify-content: center;
}
/* -----------------
* Button and Image *
-------------------*/
/* * Image * */

#welcome-img {
  width: 20rem;
  height: 18rem;
  border-radius: 50%;
  margin-bottom: 30px;
  border: var(--background) 5px solid;
}
.githubIcon,
.linktin-icon,
#mail-icon {
  width: 30px;
  margin-inline: 10px;
  cursor: pointer;
}

.project-img {
  width: 95%;
  border: var(--btn-border) 20px solid;
  margin: 1rem 0rem;
}

.tools-img {
  margin-inline: 10px;
}
/*  * Button * */

.project-btn {
  margin: 10px 20px;
  padding: 5px 10px;
  border: var(--btn-border) 2px solid;
  border-radius: 20px;
  transition: 0.7s;
  cursor: pointer;
}

/* ------
* Nav *
--------*/
nav {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding: 2rem;
}

/* ------
* Hero *
--------*/
#hero {
  padding: 50px;
  align-items: center;
  width: 100%;
}

#about-me {
  align-items: center;
  max-width: 500px;
}

#contact-me {
  margin: 30px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.7s;
}

/* ------
* Project *
? Change to Project in code and read me ?
--------*/
.project-alignment {
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.project-details {
  max-width: 400px;
}
.my-tools {
  align-items: center;
  margin: 20px 0px;
}
/* ------
* Quote *
--------*/
#quote {
  position: relative;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#quote::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/image/pictures/Water.png);
  background-position: center;
  opacity: 0.2;
  z-index: 1;
}
#quote #quote-box {
  position: relative;
  z-index: 2;
}
/* ------
* Footer *
--------*/
footer {
  align-items: center;
  width: 100%;
  padding: 50px 0px;
}

/* ------
* Hover *
--------*/

.project-btn:hover {
  background-color: var(--btn-border);
  transition: 0.7s;
}
#contact-me:hover {
  background-color: var(--background);
  transition: 0.7s;
}
/* -----------
* mediaquery *
-------------*/
@media screen and (min-width: 1024px) {
  .tools-icons {
    position: relative;
    opacity: 1;
  }
  #hero {
    align-items: center;
    justify-content: space-evenly;
  }
  .flex-row {
    flex-direction: row;
  }
  .align-center {
    justify-content: center;
  }
  /* *IMG* */
  #welcome-img {
    width: 25rem;
    height: 20rem;
  }
  .project-img {
    width: 80%;
  }
  /* *Project pc */
  .project-details {
    align-items: center;
  }
  .order-end {
    order: 2;
    text-align: end;
  }
  .order-start {
    order: 1;
  }
}
