* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* -------
* Colors *
----------*/
:root {
  --background: #f5fefd;
  --text: #16161d;
  --Hero-section: #0a66c2;
  --nav-section: #78b9d8;
}
body {
  background-color: var(--background);
  color: var(--text);
}
nav,
#contact-me {
  background-color: var(--nav-section);
}
nav,
#hero {
  color: var(--background);
}
#hero {
  background-color: var(--Hero-section);
}
#contact-me,
a {
  color: var(--text);
}
/* ------
* Nav *
--------*/
nav {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding: 2rem;
  justify-content: space-evenly;
}
/* * Menu Start * */

/* #menu-toggle {
  display: none;
}

#menu {
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  justify-content: end;
}

#menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--background);
  position: absolute;
  right: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#menu span:nth-child(1) {
  top: 0;
}

#menu span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#menu span:nth-child(3) {
  bottom: 0;
}

#menu-toggle:checked + #menu span:nth-child(1) {
  transform: rotate(45deg) translateY(12px);
}

#menu-toggle:checked + #menu span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + #menu span:nth-child(3) {
  transform: rotate(-45deg) translateY(-12px);
}

#scroll-container {
  top: 145px;
  left: 320px;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
li {
  margin: 10px 0px;
}

#menu-toggle:checked + #menu + #scroll-container {
  opacity: 1;
  visibility: visible;
} */
/* * Menu End * */
/* ------
* Hero *
--------*/
#hero {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#welcome-img {
  width: auto;
  height: 210px;
  border-radius: 50%;
  border: 5px var(--background) solid;
  margin-bottom: 30px;
}
#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-me {
  margin: 30px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: var(--nav-section);
}
.icons {
  width: 50px;
  margin-inline: 10px;
}
/* ------
* Text *
--------*/
h1,
li {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
}
h2,
p,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
/* ------
* general *
--------*/
#body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ------
* Main *
--------*/
#project-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  align-items: center;
}
.project-img {
  width: 400px;
}
/* ------
* Quote *
--------*/

/* ------
* Footer *
--------*/
